.header {
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 3px black;
  z-index: 3;
  margin-bottom: 4rem;
  width: 100%;
}
.header > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #240046;
}
.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  font-size: 0.9rem;
  display: block;
  box-shadow: 0 0 5px black;
  border-radius: 1rem;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.nav ul li a:hover {
  box-shadow: 0 0 10px black;
}
.nav ul li svg {
  color: black;
}
.cart-total {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav ul li span {
  position: absolute;
  top: -0.8rem;
  margin-right: 0.5rem;

  background-color: black;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: aliceblue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.1rems;
}
.nav ul li a:hover,
a:focus {
  color: black;
}
@media (max-width: 960px) {
  .header {
    width: 100%;
    position: static;
    top: 0;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
    box-shadow: 0 0 0 white;
  }
  .nav {
    margin: 0 auto;
    margin-top: 1rem;
    /* display: none; */
  }
  .nav ul {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
